{% extends "superb_ock/base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>Add Round</h1>
        <p>Choose course <br>
            Choose Players <br>
            Handicaps <br>
            Event
        </p>
        After you choose a course, it should know the Slope and Stroke ratings <br>
        So it can show the playing handicap you would have <br>
        <br>
        Need to get the js to read from the data sent

    </div>
</div>

{% endblock content %}