{% extends "superb_ock/base.html" %}
{% block content %}
{% load static %}
<div style="display: none" id="jsonData" data-json="{{ test }}"></div>
<script src="{% static 'superb_ock/js/new_round/new_round.js' %}"></script>

<h1 class="mb-4">Golf Course Selector</h1>
    
    <div class="mb-3">
        <label for="countrySelect" class="form-label">Select Country:</label>
        <select id="countrySelect" class="form-select">
            <option value="">--Select a Country--</option>
        </select>
    </div>
    
    <div class="mb-3">
        <label for="courseSelect" class="form-label">Select Course:</label>
        <select id="courseSelect" class="form-select" disabled>
            <option value="">--Select a Course--</option>
        </select>
    </div>
    
    <div class="mb-3">
        <label for="teeSelect" class="form-label">Select Tee:</label>
        <select id="teeSelect" class="form-select" disabled>
            <option value="">--Select a Tee--</option>
        </select>
    </div>

    
    


{% endblock content %}

