aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
asgiref==3.8.1
attrs==21.4.0
certifi==2025.1.31
cffi==2.0.0
charset-normalizer==3.4.1
cryptography==46.0.2
Django==5.2.7
django-debug-toolbar==5.0.1
django-mathfilters==1.0.0
django-webpush==0.3.6
frozenlist==1.7.0
http-ece==1.2.1
idna==3.10
multidict==6.6.4
numpy==1.23.5
opencv-python==4.10.0.84
pillow==11.3.0
propcache==0.3.2
py-vapid==1.9.2
pycparser==2.23
pywebpush==2.1.0
requests==2.32.3
scipy==1.11.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.1
urllib3==1.26.20
yarl==1.20.1
python-dotenv==1.1.1

# Development dependencies
django-browser-reload==1.12.1

# Testing dependencies
pytest==7.4.3
pytest-django==4.7.0
pytest-cov==4.1.0
factory-boy==3.3.0
faker==20.1.0
