<tbody name="general">
    {% for player_name, player_data in scores.items %}
        <tr class="text-center">
            <td scope="row">{{ player_name }}</td>
            {% for score_sum in player_data.scores %}
                {% if score_sum.shots_taken %}
                <td class="p-2 text-center">
                    <svg width="30px" height="50px">
                        <!-- Score Text (Ensuring visibility on dark fill) -->
                        <text x="15" y="16" 
                            fill="var(--bs-body-color)"
                            text-anchor="middle" 
                            alignment-baseline="middle">
                            {{ score_sum.shots_taken }}
                        </text>
                        <text x="25" y="25" 
                            fill="var(--bs-body-color)" 
                            text-anchor="middle" 
                            alignment-baseline="middle"
                            font-size="12"
                            >
                            {{ score_sum.stableford }}
                        </text>
                    </svg>
                </td>
                {% else %}
                <td class="p-2 text-center"></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    {% include "superb_ock/rounds/partials/golf_table_footer.html" %}
</tbody>