<tbody name="to_par">
    {% for player_name, player_data in scores.items %}
        <tr class="text-center">
            <td scope="row" style="text-align: left;">
                <strong>{{ player_name }}</strong>
                {% if player_data.scores.0.handicap_index %}
                    <br><small style="color: rgba(255,255,255,0.8);">{{ player_data.scores.0.handicap_index }}</small>
                {% endif %}
            </td>
            {% for score_sum in player_data.scores %}
                {% if score_sum.shots_taken %}
                    <td class="p-2 text-center">
                        {% include "superb_ock/rounds/partials/svg_to_par.html" %}
                    </td>
                {% else %}
                    <td class="p-2 text-center"></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    {% include "superb_ock/rounds/partials/golf_table_footer.html" %}
</tbody>
