{% extends "superb_ock/base.html" %}
{% block content %}
{% load mathfilters %}

<h1 class="mt-4">Golf Round Summary</h1>

<div class="mb-3">
    <button class="btn btn-secondary btn-sm" onclick="showTable('to_stableford')">Stableford</button>
    <button class="btn btn-primary btn-sm" onclick="showTable('to_par')">To Par</button>
    <button class="btn btn-dark btn-sm" onclick="showTable('general')">General</button>
</div>

<div class="table-responsive">
    <table class="table table-primary table-sm">
        {% include "superb_ock/rounds/partials/golf_table_header.html" %}
        {% include "superb_ock/rounds/partials/tbody_to_par.html" %}
        {% include "superb_ock/rounds/partials/tbody_to_stableford.html" %}
        {% include "superb_ock/rounds/partials/tbody_general.html" %}
    </table>
</div>

<script>
function showTable(tableName) {
    document.querySelectorAll("table tbody").forEach(tbody => {
        tbody.style.display = "none";
    });
    document.querySelector(`tbody[name='${tableName}']`).style.display = "table-row-group";
}
document.addEventListener("DOMContentLoaded", function () {
    showTable("to_stableford");
});
</script>

{% endblock content %}
